body{
    background-color:#f4ffdb;
    font-size:18px;
}

p {
    font-size:15px;
}

.jumbotron {
    background-color: rgb(186, 54, 54);
    font-size:30px;
}

.img-circle {
    height:600px;
    width:600px;
    margin:20px;
}

h3 {
    background-color:lightgray;
}

#selected {
    background:lightblue;
}

#recurring {
    background:pink;
}

table {
    background:white;
}

button {
    background:lightgreen;
}

#donation {
    text-align:center;
    font-size:60px;
}
